<!DOCTYPE html>
<html>
<head>
    <title>Архив статей</title>
</head>
<link rel="stylesheet" href="/static/index.css">
<body>
    <div style="text-align: right; padding: 10px 0; margin-right: calc((100% - 960px) / 2);">
        <a href="{% url 'register' %}" style="color: #666; text-decoration: underline; margin-right: 15px;">Регистрация</a>
        <a href="{% url 'login' %}" style="color: #666; text-decoration: underline;">Вход</a>
    </div>
    <div class="header">
        <a href="http://127.0.0.1:8000">
            <img src="/static/img/logo.png"/>
        </a>
    </div>
    <div class="archive">
        {% for post in posts %}
            <div class="one-post">
                <h2 class="post-title">{{ post.title }}</h2>
                <a href="{% url 'get_article' post.id %}"></a>
                    <div class="post-content">
                       
                        <div class="article-info">
                            <div class="article-author">{{ post.author.username }}</div>
                            <div class="article-created-date">{{ post.created_date }}</div>
                        </div>
                        <p class="article-text">{{ post.get_excerpt }}</p>
                    </div>
                </a>
                <div class="fold-tab">
                    <button class="fold-button">свернуть</button>
                </div>
            </div> 
        {% endfor %}
    </div>
    <div class="create-article-button-wrapper">
        <a href="http://127.0.0.1:8000/article/new" class="create-article-button">
            Написать новую статью
        </a>
    </div>
    <script src="../../static/js/fold-post.js"></script>
</body>
</html>